.cat-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    box-sizing: border-box;
}

.cat-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
}

.cat-container .cat-card {
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    background: #ebf5fc;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
                6px 6px 20px rgba(0, 0, 0, 0.1);
}

.cat-container .cat-card:hover{
    box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
                inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.cat-container .cat-card .imgBx{
    position: relative;
    text-align: center;
}

.cat-container .cat-card .imgBx img{
    max-width: 120px;
}

.cat-container .cat-card .cat-title {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.cat-container .cat-card .cat-title h2 {
    color: #32a3b1;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.cat-container .cat-card .cat-title a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #32a3b1;
    font-size: 16px;
    text-decoration: none;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
                4px 4px 15px rgba(0, 0, 0, 0.1);
}

.cat-container .cat-card .cat-title a:hover{
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.5),
                4px 4px 10px rgba(0, 0, 0, 0.1);
}

.cat-container .cat-card .cat-title a:hover span{
    display: block;
    transform: scale(0.98);
}

.cat-container .cat-card:hover .imgBx,
.cat-container .cat-card:hover .cat-title{
    transform: scale(0.98);
}

@media (max-width: 1025px){
    .cat-box{
        display: none;
    }
}