body {
	padding-top: 75px;
	padding-bottom: 70px;
	font-family: sans-serif;
}

.image-container {
	position: relative;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

#imgProfile{
	width: 150px; 
	height: 150px;
}

#nmut {
	font-size: 1.5rem;
	color: black;
}

#infutn {
	font-size: 1.0rem;
	color: black;
}

#infrdn {
	font-size: 1.0rem;
	color: black;
}

#clt {
	font-size: 1.0rem;
	color: gray;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.image-container:hover .image {
	opacity: 0.3;
}

.image-container:hover .middle {
	opacity: 1;
}

.ind-link, .metpag-link {
	text-decoration: none !important;
}